/**index.wxss**/

@import '../../common/color';
@import '../../common/anim';
page {
    background-color: $gray_background;
    height: 100%;
}

.search_view {
    height: 28rpx;
    width: auto;
    margin: 24rpx;
    color: $black_text;
    padding: 10rpx;
    border-radius: 8rpx;
    font-size: 26rpx;
    background: $Gray_300;
}

.behance_list {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.name {
    margin-left: 20rpx;
    font-size: 26rpx;
    width: 300rpx;
    &:before {
        color: $primaryColor
    }
}

.author {
    margin-left: 20rpx;
    width: 300rpx;
}

.behance_item {
    display: flex;
    width: auto;
    height: auto;
    padding-bottom: 12rpx;
    margin-bottom: 24rpx;
    border-radius: 8rpx;
    flex-direction: column;
    background: $white_background;
    box-shadow: 4rpx 4rpx 4rpx $black_light_transparent;
    @include animation('fade_in 1.2s ease');
}