@import 'common/color';
@import 'common/font';
@import 'common/style';
// .container {
//     background-color: $primaryColor;
//     height: 100%;
// }

.container {
  height: 100%;
}

.scroll_view {
  height: 100%;
}

.img_small_round {
  width: 340rpx;
  height: 360rpx;
  border-top-left-radius: 8rpx;
  border-top-right-radius: 8rpx;
}