/**index.wxss**/

@import '../../common/color';
@import '../../common/anim';
page {
    background-color: $gray_background;
    height: 100%;
}

.img_list {
    height: 100%;
    width: 100%;
}

.img { 
    width: 100%;
    height: auto;
}