$primaryColor: #263238;
$primaryLightColor: #4f5b62;
$primaryDarkColor: #000a12;
$secondaryColor: #ffeb3b;
$secondaryLightColor: #ffff72;
$secondaryDarkColor: #c8b900;
$primaryTextColor: #ffffff;
$secondaryTextColor: #000000;

$pure_white:#ffffff;
$pure_black:#000000;
$gray_background:#F5F5F5;

$Gray_50:#FAFAFA;
$Gray_100:#F5F5F5;
$Gray_200:#EEEEEE;
$Gray_300:#E0E0E0;
$Gray_400:#BDBDBD;
$Gray_500:#9E9E9E;
$Gray_600:#757575;
$Gray_700:#616161;
$Gray_800:#424242;
$Gray_900:#212121;

$white_dividers:rgba(255, 255, 255, 0.1);
$white_hint_text:rgba(32, 17, 17, 0.3);
$white_second_text:rgba(255, 255, 255, 0.7);
$white_text:#ffffff;
$white_background:#ffffff;
$white_transparent:rgba(255, 255, 255, 0.67);
$white_light_transparent:rgba(255, 255, 255, 0.16);
$white_heavy_transparent:rgba(255, 255, 255, 0.86);

$black_dividers:#F2F2F2;
$black_hint_text:#D8D8D8;
$black_second_text:#989898;
$black_text:#666666;
$black_strong_text:#000000;
$black_transparent:rgba(33, 33, 33, 0.67);
$black_light_transparent:rgba(33, 33, 33, 0.16);
