@font-face {
  font-family: 'iconfont';  /* project id 684820 */
  src: url('//at.alicdn.com/t/font_684820_uhqdyibhbzdoyldi.eot');
  src: url('//at.alicdn.com/t/font_684820_uhqdyibhbzdoyldi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_684820_uhqdyibhbzdoyldi.woff') format('woff'),
  url('//at.alicdn.com/t/font_684820_uhqdyibhbzdoyldi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_684820_uhqdyibhbzdoyldi.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_ppt:before { content: "\e660"; }

.icon-ic_excel:before { content: "\e661"; }

.icon-ic_img:before { content: "\e663"; }

.icon-ic_bt:before { content: "\e664"; }

.icon-ic_video:before { content: "\e665"; }

.icon-ic_ps:before { content: "\e666"; }

.icon-ic_ai:before { content: "\e667"; }

.icon-ic_lr:before { content: "\e668"; }

.icon-ic_dw:before { content: "\e669"; }

.icon-ic_fl:before { content: "\e66a"; }

.icon-ic_link:before { content: "\e66b"; }

.icon-ic_xd:before { content: "\e66c"; }

.icon-ic_br:before { content: "\e66d"; }

.icon-ic_word:before { content: "\e66e"; }

.icon-ic_cal:before { content: "\e600"; }
