
@mixin line_ellipsis($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.txt_white_t1 {
    color: $white_text;
    padding-top: 12rpx;
    font-size: 24rpx;
    @include line_ellipsis(2);
}

.txt_black_t1 {
    color: $black_text;
    padding-top: 12rpx;
    font-size: 24rpx;
    @include line_ellipsis(2);
}